parameters:
    # https://phpstan.org/config-reference#rule-level
    level: 6 # Max is level 9 as of PHPStan 1.0

    # https://phpstan.org/config-reference#analysed-files
    paths:
        - config
        - src
        - tests
        - public

    # https://github.com/phpstan/phpstan-symfony#configuration
    # Specific configuration for the Symfony plugin
    symfony:
        # I use the prod env because I have false positive regarding the tests which
        # are executed in the test environment.
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    # https://phpstan.org/config-reference#vague-typehints
    checkMissingIterableValueType:           true # https://phpstan.org/blog/solving-phpstan-no-value-type-specified-in-iterable-type
    checkGenericClassInNonGenericObjectType: false # this parameter is activated at level 6

    # Nothing ignored! (almost!) 🎉
    ignoreErrors:
#        - '#Dead catch - Error is never thrown in the try block.#'
#        - '#Variable method call#'
#        - '#to IntlDateFormatter constructor#' # @see Snippet197Trait

    # I don't use the Symfony PHPUnit bridge in this project, but if you do, you
    # probably will have to add the following bootstrap file:
    #bootstrapFiles:
        #- %rootDir%/../../../vendor/bin/.phpunit/phpunit/vendor/autoload.php
